<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="aqua">
<br>
<br>


<form action="/refer" method="post">
<h1><center><font style="font-size: 42px">工业APP分级审核系统</font></center></h1>
<br>
<label>确认id</label>
<input type="text" name="id" /><br>
<h2><font style="font-size: 28px">分类审核</font> </h2>
<h3><font style="font-size: 24px">按照适用范围分类</font> </h3>
<label>企业自定:</label><span th:text ="${app.class_1}"></span><br>
<label>专家意见：</label>
    <input type="text" name="c1"/><br>
<h3><font style="font-size: 24px">按照业务环节分类</font> </h3>
<label>企业自定:</label><span th:text ="${app.class_2}"></span><br>
<label>专家意见：</label>
<input type="text" name="class_2"/><br>
<h3><font style="font-size: 24px">按照知识类型分类</font> </h3>
<label>企业自定:</label><span th:text ="${app.class_3}"></span><br>
<label>专家意见：</label>
<input type="text" name="class_3"/><br>
<h2><font style="font-size: 28px">命名审核</font></h2>
<label>企业自定:</label><span th:text ="${app.name}"></span><br>
<label>专家意见：</label>
<input type="text" name="name"/><br>
<h2><font style="font-size: 28px">十九项分级</font></h2>
<label><font style="font-size: 24px">安全等级</font></label>
<span style="color: red;font-size: 24px" th:text="${app.security_level}"></span><br>
<h3><font style="font-size: 24px">应用范围</font></h3>
<label>企业自定:</label><span th:text ="${app.grade_1}"></span><br>
<label>专家意见：</label>
<input type="text" name="grade_1"/><br>
<h3><font style="font-size: 24px">影响范围</font></h3>
<label>企业自定:</label><span th:text ="${app.grade_2}"></span><br>
<label>专家意见：</label>
<input type="text" name="grade_2"/><br>
<h3><font style="font-size: 24px">应用范围</font></h3>
<label>企业自定:</label><span th:text ="${app.grade_7}"></span><br>
<label>专家意见：</label>
<input type="text" name="grade_7"/><br>
<h3><font style="font-size: 24px">最终分级</font></h3>
<label>企业自定:</label><span th:text ="${app.grade}"></span><br>
<label>专家意见：</label>
<input type="text" name="grade"/><br>
<button>提交</button>
</form>
</body>
</html>